/* Theming */

:root{
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
    --blue: #003062;
} /* variables*/

/* Reset */
/*
*{
    margin: 1;
    padding: 0;
    box-sizing: border-box;
}
*/
body{
background-color: bisque}  /* var(--white); */
    font-family: "Helvetica Neue",Helvetica,Arial, sans-serif;
}
h2 { 
	color: blue; 
}
h3 { 
	color: blue; 
}

a{
    text-decoration: none;
}

ul.sq {
  list-style-type: square;
}


ul{
    list-style: none;
} 

ul.num {
	list-style-type: square;
}

/* Header*/
.header{
    background-color: lavender; /* var(--white); */
    /* box-shadow: 1px 1px 5px 0px var(--gray); */
	box-shadow: none ; 
	position: sticky;
    top: 0px;
    width: 100%;
}
/*Logo*/
.logo{
    display: inline-block;
    /* color: var(--white); */
    font-size: 60px;
    margin-left: 0px; 
	margin-right: 10px;
}

/* Nav menu */
.nav{
    /* width: 50%; */
    /* height: 100%; */
	position: fixed;  /* fixed; */
    background-color: aquamarine; /* var(--blue); */
    overflow: auto;  /* hidden; */

}
.menu a{
    display: block;
    padding: 5px;
    color: black; /* var(--gray);*/
}
.menu a:hover{
    background-color: white /* var(--gray); */
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: black; /* var(--gray); */
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: black;  /* var(--gray); */
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */


/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
.highlightContent{
    text-align: center;
}

.highlightContent h2{
    font-size: 22px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    padding:10px 0;
} 
.highlightContent p{
    font-size: 16px;
    padding: 0 30px 35px;
    line-height: 1.5;
}
footer{
    background-color: var(--blue);
    color:var(--white);
    text-align: center;
    padding:0;
    line-height: 1;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
footer img{
    width:30px;
    margin:0 4px;
}
footer p{
    font-size: 15px;
    color:var(--gray);
}
footer h3{
    margin-top: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
}
footer div{
    display: block;
}
footer .social{
    margin-top: 30px;
}
footer .social div{
    display: inline-block;
}
/* Responsiveness */
@media (min-width: 768px){
    .nav{
        max-height: 100px;
        /* top: 15px; */
		top: 100px;
        /* position: relative; */
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);

    }
    .hamb{
        display: none;
    }
    .header{
        padding: 5px 15px 0px 15px;
    }

    .highlightContent{
        padding:35px 60px;
    }
    .highlightContent h2{
        font-size:40px;
    }
    .highlightContent p{
        font-size:8px;
        padding:30px 340px;
        font-size:20px;
        line-height: 1.5;
    }
}
/*

/* ipad Portrait and Landscape */
@media (min-width: 768px) and (max-width: 1024px){
    .highlightContent p{
        padding:2px 0;
    }
}

/* Mobile Portrait and Landscape */
@media (min-width: 320px) and (max-width: 480px) {

}

/*desktop size*/
@media (min-width: 1200px) and (max-width: 1600px){
}